<!DOCTYPE html>
<html>
  <head>
    <title>Node SSE Demo</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
	<h1>Node SSE Demo</h1>
	<h4>Rand Num: <span id="randNum"></span></h4>
	<h4>Rand UUID: <span id="randUUID"></span></h4>
  <hr/>
  <h3>Multiples Generators</h3>
  <div id="multiplesTracking">
    <h4>2: <span id="multiplesOf2"></span></h4>
    <h4>3: <span id="multiplesOf3"></span></h4>
    <h4>4: <span id="multiplesOf4"></span></h4>
    <h4>5: <span id="multiplesOf5"></span></h4>
    <h4>6: <span id="multiplesOf6"></span></h4>
    <h4>7: <span id="multiplesOf7"></span></h4>
    <h4>8: <span id="multiplesOf8"></span></h4>
    <h4>9: <span id="multiplesOf9"></span></h4>
  </div>
  <script src="/script.js"></script>
  </body>
</html>